@charset 'UTF-8';

@import 'base/reset';

@import 'utils/functions';
@import 'utils/variables';
@import 'utils/mixins';


@import 'pages/index';


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-suisse-bp;
}

img{
    max-width: 100%;
}