<div class="preloader">
    <p class="preloader__text">
        Laboris exercitation sit ex minim sit veniam officia in est aute velit reprehenderit. Nostrud excepteur in veniam eu commodo esse labore labore mollit et consequat id. Ut laboris consequat do nisi laborum adipisicing aute et fugiat veniam incididunt.
    </p>
    <div class="preloader__number">0%</div>
</div>