<div class="preloader">
    <p class="preloader__text">
       {{ section.settings.preloader-text }}
    </p>
    <div class="preloader__number">0%</div>
</div>

{% schema %}
{
    "name": "Preloader",
    "settings": [
        {
            "type": "textarea",
            "id": "preloader-text",
            "label": "Preloader Text",
            "default": "Preloader text",
            "placeholder": "Preloader text"
        }
    ]
}
{% endschema %}