@font-face {
    font-family: 'George X';
    src: local('George X Regular'), local('GeorgeX-Regular'),
        font-url('GeorgeX-Regular.woff2') format('woff2'),
        font-url('GeorgeX-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
// Suisse BP Int
@font-face {
    font-family: 'Suisse BP Int\'l';
    src: local('Suisse BP Int\'l Regular'), local('SuisseBPIntl-Regular'),
        font-url('SuisseBPIntl-Regular.woff2') format('woff2'),
        font-url('SuisseBPIntl-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse BP Int\'l';
    src: local('Suisse BP Int\'l UltraLight'), local('SuisseBPIntl-UltraLight'),
        font-url('SuisseBPIntl-UltraLight.woff2') format('woff2'),
        font-url('SuisseBPIntl-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse BP Int\'l';
    src: local('Suisse BP Int\'l Light'), local('SuisseBPIntl-Light'),
        font-url('SuisseBPIntl-Light.woff2') format('woff2'),
        font-url('SuisseBPIntl-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}